<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cookie Site</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main></main>

  <script type="text/template" id="cookies-template">
    <% _.each(cookies, function(cookie) { %>
      <div class="cookie">
        <p>
          Name: <%= cookie.cname %><br>
          Cal: <%= cookie.calories %><br>
          Type: <%= cookie.type %><br>
          Qty: <%= cookie.qty %>
        </p>
      </div>
    <% }); %>
  </script>

  <script src="js/lib/jquery-min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/models/cookie.js"></script>
  <script src="js/views/cookie-view.js"></script>
  <script src="js/router.js"></script>
  <script src="js/main.js"></script>
</body>
</html>